.fa{
    color:orange;
}
  
.titulo{
    color:orange;
}
  

.navbar-nav{
    width: 60%;
    justify-content: space-between;
}

.cita{
    background-color: orange;
    text-decoration: none;
    color:black;
}

.nav-item{
    font-weight: bold;
    font-size:20px;
    
}

.nav-item:hover{
    background-color: orange;
    
}